# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
!.vscode/settings.json

.env*
!.env.sample

# web3
packages/web3/.dist
packages/web3/node_modules
packages/web3/.env
packages/web3/cache
packages/web3/artifacts

# UI
packages/ui/.dist
packages/ui/node_modules
packages/ui/.env
packages/ui/cache


# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.serverless

# sst
.sst
/packages/contracts/broadcast
/packages/contracts/lib
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770300389.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770300406.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770300513.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770300618.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770395859.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770410822.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770412519.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770580438.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770580661.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770581459.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770582730.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770583322.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770583541.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-1770660969.json
packages/contracts/broadcast/BatchCallAndSponsor.s.sol/8150/run-latest.json
